<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - CityTouristWebsite</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/output.css" />
        <link rel="stylesheet" href="~/CityTouristWebsite.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    </head>
    <body class="bg-gray-100">
        <header class="bg-white">
            <nav class="container mx-auto flex flex-row py-2 justify-between items-center">
                <a asp-controller="Home" asp-action="Index" class="flex flex-row">
                    <img src="~/images/icons/green-leaf.png" alt="Green Leaf" height="35px" width="40px" />
                    <h1 class="text-2xl font-medium ml-1 text-green-700">CebuExplore</h1>
                </a>
                @if (Context.Request.Path.Value.Contains("/Home/Details"))
                {
                    <a href="javascript:history.back()" class="text-white text-lg">
                        <p class="text-green-700 hover:text-black">Home<i class="fa-solid fa-arrow-right ml-2"></i></p>
                    </a>
                }
            </nav>
        </header>
        <div>
            <main role="main">
                @RenderBody()
            </main>
        </div>

        <footer class="border-t border-gray-300 text-muted py-5 ">
            <div class="container mx-auto flex flex-row justify-between">
                <div class="">
                    &copy; 2025 - CityTouristWebsite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
                <div class="flex flex-row gap-2">
                    <i class="fa-brands fa-square-facebook text-2xl text-[#059669] cursor-pointer"></i>
                    <i class="fa-brands fa-square-x-twitter text-2xl text-[#059669] cursor-pointer"></i>
                    <i class="fa-brands fa-square-instagram text-2xl text-[#059669] cursor-pointer"></i>
                </div>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
